.baloo {
	font-family: "Baloo bold" !important;
}
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	height: 56px;
	border-radius: 8px;
	border: 4px solid transparent;
	background-clip: content-box;
	background-color: #495057;
	
}
::-webkit-scrollbar-thumb:hover {
	background-color: #6c757d;
}
:root {
	--yellow-1: #ffe169;
	--yellow-2: #fad643;
	--yellow-3: #edc531;
	--yellow-4: #dbb42c;
	--yellow-5: #c9a227;
	--brown-1: #b69121;
	--brown-2: #a47e1b;
	--brown-3: #926c15;
	--brown-4: #805b10;
	--brown-5: #76520e;
	--black-brown: #361f13;
}
.text-custom {
	color: var(--black-brown) !important;
}
body {
	background-color: var(--bs-light);
	font-family: "poppins";
}
/* sidebar */
.sidebar {
	width: 280px;
	right: -300px;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	opacity: 0%;
	z-index: 1021;
}
.sidebar-show {
	right: 0;
	opacity: 100%;
}
.btn-sidebar {
	color: var(--bs-light);
	background-color: var(--brown-2);
	border-color: var(--brown-2);
}
/* navbar */
.uc-active {
	background-color: var(--brown-3) !important;
	color: var(--bs-light) !important;
}
.menu {
	justify-content: flex-end;
}
.nav-custom {
	background-color: transparent;
	transition: all 0.2s ease-out;
}
.line-bottom {
	border-bottom: 0.1rem solid #dee2e6 !important;
}
.nav-link-custom {
	border-radius: 0.25rem;
	color: var(--brown-3);
	transition: all 0.2s ease-out;
}
.nav-link-custom:not(.uc-active):hover {
	color: var(--brown-5) !important;
}
div.navbar-brand {
	letter-spacing: -0.5em;
	opacity: 0;
}
.navbar-brand-show {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
		both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/* footer */
footer.footer {
	border-top: 0.1rem solid #dee2e6 !important;
}
/* responsive */
@media only screen and (min-width: 768px) {
	.sidebar {
		right: -300px !important;
		opacity: 0%;
	}
	.btn-sidebar {
		display: none;
	}
	.nav-bottom {
		flex-direction: row !important;
	}
	footer.footer {
		margin-left: 3rem !important;
		margin-right: 3rem !important;
	}
	.nav-custom > div {
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-left: 3rem !important;
		margin-right: 3rem !important;
	}
}
@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	100% {
		opacity: 1;
		letter-spacing: normal;
	}
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	100% {
		opacity: 1;
		letter-spacing: normal;
	}
}
.btn-custom {
	color: var(--bs-light);
	border: 0.1rem solid var(--brown-3);
	background-color: var(--brown-3);
}

.btn-custom:focus {
	outline: 0;
	box-shadow: 0 0 0 0.25rem #926c1566;
}

.btn-custom:hover {
	background-color: var(--brown-4);
	color: var(--bs-light);
}
